.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 105px;
    height: 105px;
    min-width: 105px;
    min-height: 105px;
    background: white;
    border-radius: 7px;
    border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.562);
    padding: 10px;
}
.button:hover{
    background: rgb(223, 223, 223);
    
}
.button img{
    width: 50px;
}
.button p{
    font-size: 16px;
    font-weight: 600;
    color: #1E0045;
}

@media (max-width: 768px){
    .button{
        width: 90px;
        height: 90px;
        min-width: 90px;
        min-height: 90px;
        border-radius: 4px;
        padding: 7px;
    }
    .button .divImg{
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 0px solid black;
    }
    .button .divImg img{
        width: 100%;
    }
    .button p{
        font-size: 14px;
        font-weight: 600;
        color: #1E0045;
    }
}